
<form action="/square/results">
  <label for="square_input">Enter a number</label>
  <input type="text" id="square_input" name="number" placeholder="What number do you want to square?">
  <button>Calculate square</button>
</form>
